{% extends "base.html" %}
{% load static %}

{% block cssfiles %}
<link href="{% static 'home/css/styles.css' %}" type="text/css" rel="stylesheet"/>
{% endblock cssfiles %}


{% block content %}
<!-- Content Section -->

<div class="intro">
  <p class="app-name"></p>
  <p class="tag">Bridging the Gap Between Cyber Security and the Community</p>
</div>

<section id="home">
  <div class="section-elements">
    <div class="heading">
      <h2>Anticipate, Adapt, Defend - Stay One Step Ahead of Cyber Threats.</h2>
      <p>Get empowered with realtime insights on the most popular threat categories, to help you stay on top of your security and fortify your digital defenses</p>
    </div>
    <div class="chart-content">
      <canvas id="myChart" width="400px" height="400px"></canvas>
    </div>
  </div>
</section>

<section id="assessment">
  <div class="section-elements">
    <div class="assess-button">
      <img src="assessment_image.png" alt="Assessment Image">
      <a href="{% url 'risk-assessment' %}">Access Form</a>
    </div>
    <div>
      <h2>Tailoring Security: Unleash Personalized Assessment Scans for Your Digital Armour.</h2>
      <p>Your Security needs are unique. Experience tailored scans for your files and domains, to help you protect what matters most to you!</p>
    </div>
  </div>
</section>

<section id="chat">
  <div class="section-elements">
    <div>
      <h2>Connect, Collaborate, Secure - Engage in Real-time Conversations With Like-Minded Cyber Guardians.</h2>
      <p>Step into a dynamic community where cybersecurity enthusiasts converge to discuss the latest trends, share insights and collectively strengthen the digital defense of our connected world.</p>
    </div>
    <div class="chat-button">
      <img src="chat_image.png" alt="Chat Image">
      <a href="{% url 'chat-index' %}">Access Chat</a>
    </div>
  </div>
</section>

<section id="learning">
  <div class="section-elements">
    <div class="learning-button">
      <img src="learning_image.png" alt="Learning Image">
      <a href="{% url 'learning-view' %}">Access Learning</a>
    </div>
    <div>
      <h2>Empower Yourself: Knowledge is Power, Cybersecurity is Key - Unleash your potential.</h2>
      <p>Explore modularized content designed to enhance your cyber security skills - learn, grow, and stay ahead in the ever-evolving landscape .</p>
    </div>
  </div>
</section>

<input id="ENV_VAR" value="{{ api_key }}" type="hidden" />

    <!-- Footer -->
    <div class="footer-section">
      <footer>
	<ul>
	  <li><a href="#contact">Contact Us</a></li>
	  <li><a href="#privacy">Privacy Policy</a></li>
	  <li><a href="#terms">Terms of Service</a></li>
	</ul>
      </footer>
    </div>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static 'home/js/index.js' %}"></script>
{% endblock scripts %}
