/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Shared style for content sections */
section {
    padding: 40px;
}

.intro {
  background-color: #A9B388;
  color: #5F6F52;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.intro p.app-name {
  background-image: url('../../../../static/images/tagname.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  width: 620px;
  display: block;
  margin: auto;
}

.intro p.tag {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight:100;
}


.heading h2, #assessment h2, #chat h2, #learning h2 {
  font-size: 40px;
}

.heading p, #assessment p, #chat p, #learning p {
  font-size: 24px;
}


/* Customize chart styling */

.chart-content {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
}

/* Flex display for the parent div within each section */
section > div {
  display: flex;
  align-items: center;
  height: 400px;
}

/* Style for the left side of each section */
section > div > div:first-child {
  width: 50%;
}

/* Style for the right side of each section */
section > div > div:last-child {
  width: 50%;
}


/* Additional styling for specific sections */
/* Home section */
#home {
  background-color: #FEFAE0;
  color: #5F6F52;
}


/* Assessment section */
#assessment {
  background-color: #A9B388;
  color: #FEFAE0;
}

#assessment .assess-button a {
  padding: 6px 18px;
  border: none;
  background-color: #FEFAE0;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #5F6F54;
}

#assessment .assess-button a:hover {
  background-color: #5F6F52;
  color: #FEFAE0;
}



/* Chat section */
#chat {
  background-color: #B99470;
  color: #fff;
}

#chat .chat-button a {
  padding: 6px 18px;
  border: none;
  background-color: #FEFAE0;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #AD8B73;
}

#chat .chat-button a:hover {
  background-color: #94A684;
  color: #FAFAFA;
}


/* Learning section */
#learning {
  background-color: #FAEED1;
  color: #5F6F52;
}


#learning .learning-button a {
  padding: 6px 18px;
  border: none;
  background-color: #B99470;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #FAFEE0;
}

#learning .learning-button a:hover {
  background-color: #5F6F52;
}



@media (max-width: 927px) {
  section > div {
    display: block;
    height: fit-content;
  }

  section > div > div:first-child, section > div > div:last-child {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .intro {
    padding: 10px 0;
  }

  .intro p.app-name {
    margin: 6px 0;
  }

  .intro p.app-name {
    display: block;
    margin: auto;
    height: 120px;
    width: 350px;
  }

  .intro p.tag {
    margin: 4px 20px;
    padding: 10px 24px;
    font-size: 32px;
  }

  #home .selection-elements .chart-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
  }

  #chat .selection-elements, #home .selection-elements {
    display: flex;
    flex-direction: column;
  }
  #assessment .section-elements, #learning .section-elements {
    display: flex;
    flex-direction: column-reverse;
  }

  #home .section-elements .heading h2,
  #assessment .section-elements div h2,
  #chat .section-elements div h2,
  #learning .section-elements div h2 {
    font-size: 30px;
  }

  #home .section-elements .heading p,
  #assessment .section-elements div p,
  #chat .section-elements div p,
  #learning .section-elements div p {
    font-size: 24px;
  }

  #assessment .assess-button, #chat .chat-button,
  #learning .learning-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}
